
.container-fluid{
 background-color: #FFF;
 height:12%;
}

.logo{
height: 61%;
width: 10%;
padding-top: 0%;
margin-top: 1%
}

.btn-primary{
  padding-left: 1%;
  margin-left: 84%;
 margin-top: -4%;
}

.login-icon{
  height: 33%;
  width: 4%;
  margin-left: 95%;
  margin-top: -3%;
}



hr{

  height:0.1%;
  background-color: #19b2cc;
  display:block;
  
}
.footer {
   font-size:20px;
   text-align: center;
   width: 100%;

   margin-top: 2%;

}

.upperFooter{
  background-color: #19b2cc;
  color: white;
  min-height: 4%;
  padding: 0%;
  font-size: 0.8em;
}


.upperFooter a{
  text-decoration: none;
  color: white;
}

.lowerFooter{
  background-color:#1da5be;
  padding: 0%;
  margin: 0%;
}
.lowerFooter p{
  background-color:#1da5be;
  font-size:0.6em;
  margin: 0%;
  color: white;
}

.emblem,.logoSkillIndia, .logoPMKVY, .MSDE-logo, .udaan{
  width: 110px;
  margin-right: 60px;

}

img.logoPMKVY{
  margin-bottom: 13px;
}

img.MSDE-logo{
  width: 150px;
  margin-right: 60px;
}
img.udaan{
  margin-left: 35px;
margin-top: -12px;
}



@media screen and (max-width: 768px) {
  .table{
    font-size: 70%;
  }
  
  .footer{
    font-size: 0.8em;
  }
  .lowerFooter p{
    font-size: 0.6em;
  }
  .spocname{
        font-size:0.65em;
    }

}